.newsCard {
  width: 100%;
  background: #141a23;
  border: 1px solid rgba(255,255,255,.15);
  border-radius: 10px;
  overflow: hidden;
}

.newsImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.newsContent {
  padding: 14px;
}

.newsDate {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 6px;
}

.newsText {
  font-size: 16px;
  line-height: 1.4;
  opacity: 0.85;
}

.title{
  font-size: 25px;
}